
## <summary>policy for rebelcoin</summary>


########################################
## <summary>
##	Transition to rebelcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`rebelcoin_domtrans',`
	gen_require(`
		type rebelcoin_t, rebelcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, rebelcoin_exec_t, rebelcoin_t)
')


########################################
## <summary>
##	Execute rebelcoin server in the rebelcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rebelcoin_initrc_domtrans',`
	gen_require(`
		type rebelcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, rebelcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search rebelcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rebelcoin_search_lib',`
	gen_require(`
		type rebelcoin_var_lib_t;
	')

	allow $1 rebelcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read rebelcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rebelcoin_read_lib_files',`
	gen_require(`
		type rebelcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, rebelcoin_var_lib_t, rebelcoin_var_lib_t)
')

########################################
## <summary>
##	Manage rebelcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rebelcoin_manage_lib_files',`
	gen_require(`
		type rebelcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, rebelcoin_var_lib_t, rebelcoin_var_lib_t)
')

########################################
## <summary>
##	Manage rebelcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rebelcoin_manage_lib_dirs',`
	gen_require(`
		type rebelcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, rebelcoin_var_lib_t, rebelcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a rebelcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`rebelcoin_admin',`
	gen_require(`
		type rebelcoin_t;
		type rebelcoin_initrc_exec_t;
		type rebelcoin_var_lib_t;
	')

	allow $1 rebelcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, rebelcoin_t)

	rebelcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 rebelcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, rebelcoin_var_lib_t)

')

